<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rakamin | Login</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h3 class="panel-title">Login</h3>
                    </div>
                    <div class="panel-body">
                      
                        <form action="">
                            <div class="form-group">
                              <label for="txtEmail">Email address:</label>
                              <input type="email" class="form-control" id="txtEmail">
                            </div>
                            <div class="form-group">
                              <label for="txtPwd">Password:</label>
                              <input type="password" class="form-control" id="txtPwd">
                            </div>

                            
                          </form>
                          <button type="button" class="btn btn-default pull-right" id="btnLogin">Login</button>
                          
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/apps/admin_login.js') }}"></script>
</html>